@page "/wallets"
@using BlazorApp3.Shared
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@attribute [Authorize]
@inject HttpClient HttpClient


<h3>Wallets</h3>

@if (WalletList == null || WalletList.Count == 0)
{
    <div>Loading...</div>
}
else
{
    @foreach (var wallet in WalletList)
    {
<div class="wallet" style="width: 309px;">
    <h6 class="card-subtitle mb-2 text-muted">
        Wallet <span class="small_text">@string.Concat(Enumerable.Repeat("**",16))</span><span class="small_text">@Convert.ToString(wallet.Id).Substring(Convert.ToString(wallet.Id).Length - 4)</span>
    </h6>
    <h5 class="card-text">
        @wallet.Amount
        @wallet.Currency
    </h5>
    <button class="btn btn-primary">Make transfer</button>
    <button class="btn btn-danger">Delete wallet</button>
    <br />
</div>
    }
}

<div>
    <h3>Create a new wallet</h3>
    <input type="text" placeholder="Currency" @bind="Currency" />
    <button class="btn-primary" @onclick="() => CreateWallet()">Create wallet</button>
</div>

@code {
    private List<Wallet> WalletList;
    private string Currency;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            WalletList = await HttpClient.GetFromJsonAsync<List<Wallet>>("api/wallet");
        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }
    }

    private async Task CreateWallet()
    {
        try
        {
            if (string.IsNullOrWhiteSpace(Currency))
                return;

            var response = await HttpClient.PostAsync("api/wallet?currency=" + Currency, null);

            if (response.IsSuccessStatusCode)
            {
                var newWallet = new Wallet
                {
                    Id = Guid.NewGuid(),
                    Amount = 0,
                    Currency = Currency
                };
                WalletList.Add(newWallet);
            }
        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }

    }
}
